README.md
logs/
*.log
*.bak
backup_*
roblox_registry_backup.reg
RobloxChecker-Base.zip
baca ini.txt
latestlogs
roblox_RobloxPlayerInstaller_36EBE.log.txt
roblox_0.686.1.6860870_20250818T150243Z_Player_F1722_last.log.txt